body{
    background-color:aqua;
}
form{
    background-color:brown;
    width: 400px;
    height: 500px;
    border: 10px solid black;
    border-radius: 20px;
    background-position: center;
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    flex-direction:column;
}
.label{
    padding: 50px;
}
